<!doctype html>
<html>
    <head>
        <title>Accounts</title>
        <meta http-equiv="content-type" content="text/html">
    </head>

    <body>
        <p>You have bought <strong>{{ book.title }}</strong> for <strong>€{{ book.price }}</strong></p>

        <a href="{% url 'shop:all' %}">Return to shop</a>
    </body>
</html>