<!doctype html>
<html>
    <head>
        <title>Shop</title>
        <meta http-equiv="content-type" content="text/html">
    </head>

    <body>
        {% for book in books %}
            <a href="{% url 'shop:view' pk=book.pk %}"><h2>{{ book.title }}</h2></a>
            <h3>{{ book.author }}</h3>
            <h2>{{ book.price }}</h2>
        {% endfor %}
    </body>
</html>