<!doctype html>
<html>
    <head>
        <title>Shop</title>
        <meta http-equiv="content-type" content="text/html">
    </head>

    <body>
        <h1>{{ book.title }}</h1>
        <h2>{{ book.author }}</h2>
        <h3>{{ book.category }}</h3>
        <p>{{ book.blurb }}</p>
        <h1>€{{ book.price }}</h1>

        <a href="{% url 'accounts:buy' pk=book.pk %}"><h1>Buy</h1></a>
    </body>
</html>